/*
    About Page
 */


// MOBILE

#about {
    margin-bottom: 2vw;
    margin-top: $mobile-line-height * 3;

    header, section, aside {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    section, aside {
        // Indent all mobile about content on mobile
        margin-left: 11vw;
    }
}


// Toggle about page
#about {
    display: none;

    .on-about & {
        display: block;
    }
}

#about-header {
    overflow: hidden;

    // Make type floating blocks
    .at,
    .degree,
    .date-1,
    .date-2,
    .month,
    .ampersand,
    .venue,
    .city,
    .register-link,
    .dash {
        float: left;
        display: block;
    }

    // Line breaks
    .date-1,
    .ampersand,
    .venue,
    .city,
    .register-link,
    .dash {
        clear: left;
    }

    // Blank links
    .degree,
    .month,
    .city {
        margin-bottom:  $mobile-big-line-height;
    }

    .at {
       display: none; // Go home 'at', you drunk
    }
    .degree {
        @include spaces(1);
    }

    .date-1 {
        @include spaces(5);
    }
    .date-2 {
        @include spaces(5);
    }
    .month {
        @include spaces(10);
    }

    .city {
        @include spaces(2);
    }

    .register-link {
        @include spaces(2);
    }
}


// About page elements
#contact {
    margin-top: 9vw;
    clear: left;
}

#location,
#contact {
    h3 {
        margin-bottom: 0;
    }
}

#location {
    p {
        margin-bottom: 0;
    }
}

#staff {
    clear: both;

    h4,
    li {
        margin-bottom: 0;
    }
}

#logos {
    overflow: hidden;

    position: relative;
    left: -2vw; // Line up the R in the Rave logo

    a {
        float: left;
    }
    img {
        height: auto;
        width: 100%;
    }
    .rave {
        width: 30%;
    }
    .show {
        position: relative;
        top: 6vw;
        left: 4vw;
        width: 24%;
    }
}

#about #awards,
#about #staff {
    border: 1px solid $accent;
    padding: $mobile-line-height $col/2 0;
    margin: $mobile-line-height (11vw - $col/2 ) $mobile-line-height;
}
    #about #staff {
        padding-bottom: $mobile-line-height;
    }

#staff {
    padding-bottom: $mobile-line-height;
}

#share {
    margin-top: $mobile-line-height * 2;

    h5 {
        margin-bottom: 3vw;
    }

    p {
        float: left;
        position: relative;
        left: -3vw;
        margin-right: 3vw;
    }

    a {
        border: 1px solid $accent;
        padding: 3vw 3vw 2vw;
        background-color: $accent;
        text-decoration: none;
        color: $bg;
    }
}

#sign-up {
    h2 {
        margin-bottom: $mobile-line-height * 0.25;
    }

    label {
        display: none;
    }

    input {
        margin-bottom: $mobile-line-height * 0.5;
    }
}


// Tablet
@media screen and (min-width: $tabletBreak) and (-webkit-min-device-pixel-ratio: 2),
       screen and (min-width: $tabletBreak) and (max-moz-device-pixel-ratio: 2) {

    .on-about #cover {
        background-image: url(../images/ptn-x2.png) !important;
        background-size: 5px auto;
    }

    #header nav a {
        background-image: url(../images/arrow-x2.png) !important;
        background-size: 16px auto;

        .on-about & {
            background-image: url(../images/cross-x2.png) !important;
        }
    }
}

@media screen and (min-width: $tabletBreak) {

    #cover {
        position: static;
        top:0;
        right:0;
        bottom:0;
        left:0;
        overflow-x: hidden;

        .on-about & {
            position: fixed;
            height: auto;

            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;

            background-image: url(../images/ptn.png);
        }
    }
    #inner {
        margin: $col / 2;
        background-color: $bg;
        overflow: hidden;

        .on-about & {
            min-height: $tablet-line-height * 49;
        }
    }

    #about {
        position: relative;
        padding-bottom: $tablet-line-height;
        margin-top: 0;


        header, section, aside {
            margin: 0;
        }
    }

    #about-header {
        position: absolute;
        padding-left: $col / 2;
        top: ($tablet-big-line-height * 3) - $col/2;

        h2, .huge {
            // Make some more room so type won't breakline
            width: 110%;
        }

        .extra {
            // Only show 3 chars of days
            display: none;
        }

        .degree,
        .month,
        .city {
            margin-bottom: $tablet-big-line-height;
        }

        .degree {
            @include spaces(1);
            clear: none;
        }

        .date-1 {
            @include spaces(22);
        }
        .date-2 {
            @include spaces(21);
        }
        .month {
            @include spaces(19);
            margin-top: $tablet-big-line-height * 1;
            margin-bottom: $tablet-big-line-height * 2;
        }

        .venue {
            @include spaces(16);
        }
        .city {
            @include spaces(22);
            margin-bottom: $tablet-big-line-height * 4;
        }

        .register-link {
            @include spaces(2);
        }
        .tickets {
            display: block;
            clear: left;
        }
    }

    #awards,
    #location,
    #contact,
    #logos,
    #staff,
    #share,
    #sign-up{
        padding: 0;
        margin: 0;
        position: absolute;
    }

    #about #awards,
    #about #staff {
        border: none;
        padding: 0;
        margin: 0;
    }

    $left-buffer: ($col * 2) - 1.25vw;

    #awards {
        border: none;
        top: $tablet-line-height * 8;
        left: $left-buffer;
        width: $col * 12;

        .group {
            width: ($col * 6) - 2vw;
            float: left;
            padding-right: 0;
        }
    }

    #location {
        top: $tablet-line-height * 18;
        left: ($col * 14) + 2vw;

        h3 {
            display: none;
        }
    }

    #logos {
        width: 40vw;
        top: ($tablet-line-height * 24)+2vw;
        left: $col * 12;

        .show {
            top: 2vw;
            //left: 2vw;
        }
    }

    #contact {
        top: $tablet-line-height * 38;
        left: $left-buffer;

        z-index: 20000;
    }

    #staff {
        top: $tablet-line-height * 36;
        left: $col * 9;
        width: $col * 9;
        border: none;

        .group {
            width: 50%;
            float: left;
        }
    }

    #share {
        top: ($tablet-line-height * 3) - 0.4vw;
        right: $col;
        width: 30vw;
        height: 10vw;
        position: absolute;
        z-index: 20000;

        h5 {
            display: none;
        }

        p {
            float: none;
            margin: 0;
            position: static;
        }

        a {
            width: auto;
            display: block;
            float: right;
            margin-left: 2vw;
            background-color: transparent;
            border: 1px solid $accent !important;
            color: $accent;

            padding: 0.4vw 1vw 0 4vw;

            background-repeat: no-repeat;
            background-position: 0.3vw center;
        }

        .fb a {
            background-image: url(../images/fb.png);
        }
        .tw a {
            background-image: url(../images/tw.png);
        }
    }

    #sign-up {
        width: $col * 8;
        top: $tablet-line-height * 30;
        left: $col * 10;

        border: 1px solid;
        padding: $tablet-line-height*0.75 $col/2;

        h2 {
            font-size: $tablet-font-size;
            line-height: $tablet-line-height;
            margin-bottom: $tablet-line-height/1.5;
        }

        input {
            float: left;
            margin-bottom: 0;
        }

        input[type=email]{
            height: $tablet-line-height * 1.5;
            width: $col * 5;
        }

        input[type=submit]{
            padding: 0 1.5vw;
            height: $tablet-line-height * 1.5;
        }
    }

}


// Desktop
@media screen and (min-width: $desktopBreak) {

    #inner {
        .on-about & {
            min-height: $desktop-line-height * 65;
        }
    }

    #about-header {
        top: ($desktop-big-line-height * 2) - $col/2;

        .date-1 {
            @include spaces(16);
        }
        .date-2 {
            @include spaces(15);
        }
        .month{
            @include spaces(13);
            margin-bottom: 8vw;
        }

        .venue {
            @include spaces(8);
        }
        .city {
            @include spaces(8);
            margin-bottom: 8vw;
        }
    }

    $left-buffer: ($col * 2) + 0.7vw;

    #awards {
        top: $desktop-line-height * 13;
        left: $left-buffer;
        width: 60vw;

        h3 {
            background-image: url(../images/star.png);
            background-repeat: no-repeat;
            background-position: left top;

            padding-left: 2.75vw;
            //padding-bottom: 0.2vw;

            position: relative;
            left: -2.75vw;
            //top: -0.25vw;

        }

        .group {
            width: 33.333%;

            &:last-child {
                h4 {
                    margin-top: 0;
                }
            }
        }
    }

    #share {
        top: ($desktop-line-height * 4) - 0.4vw;
        right: 2vw;

        a {
            padding-left: 3.5vw;
        }
    }

    #location {
        top: $desktop-line-height * 38;
        left: $left-buffer;


        a {
            background-image: url(../images/pin.png);
            background-repeat: no-repeat;
            background-position: left center;

            padding-left: 2vw;
            padding-bottom: 0.2vw;
            padding-top: 0.25vw;

            position: relative;
            left: -2vw;
        }

    }

    #staff {
        top: $desktop-line-height * 50;
        width: 100/20*9.8vw;
    }

    #logos {
        top: ($desktop-line-height * 55) + 2vw;
        left: $left-buffer - 1.25vw;
        width: 100/20*4vw;
        overflow: visible;

        .rave {
            width: 100/20*2vw;
        }
        .show {
            width: 100/20*1.5vw;
            left: 2vw;
        }
    }

    #contact {
        top: $desktop-line-height * 30;
        left: $col * 9.8;

        h3 {
            display: none;
        }

        a, p {
            float: left;
        }
        .email {
            margin-left: 100/20*1.25vw;
        }

        a {
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 2.75vw;
            padding-bottom: 0.2vw;
            padding-top: 0.5vw;

            &.twitter {
                background-image: url(../images/twitter.png);
            }

            &.email {
                background-image: url(../images/email.png);
            }
        }

    }

    #sign-up {
        width: $col * 5;
        top: $tablet-line-height * 25;
        left: $col * 13;

        padding: $desktop-line-height $col/2;

        h2 {
            font-size: $desktop-font-size;
            line-height: $desktop-line-height;
            margin-bottom: $desktop-line-height/1.5;
        }

        input[type=email]{
            height: $desktop-line-height * 1.5;
            width: 100%;
            margin-bottom: $desktop-line-height * 0.5;
        }

        input[type=submit]{
            height: $desktop-line-height * 1.5;
        }
    }


}
