/*
    About Page
 */

header, section, aside {
    margin: 0 2vw;
}
#header {
    nav {
        .on-about & {
            top: 0;
        }
    }
}
#about {
    margin-bottom: 2vw;

    section, aside {
        margin-left: 11vw;
    }
}


// Base
.on-about {
    #header {
        position: relative;
    }
    #about {
        display: block;
    }
}

#header {
    h1 {
        @include spaces(2);
        margin: 1*9vw 0;
    }
}

#about {
    display: none;
}
#about-header {
    overflow: hidden;

    .at,
    .degree,
    .date-1,
    .date-2,
    .month,
    .ampersand,
    .venue,
    .city,
    .register-link,
    .dash {
        float: left;
        display: block;
    }

    .date-1,
    .ampersand,
    .venue,
    .city,
    .register-link,
    .dash {
        clear: left;
    }

    .degree,
    .month,
    .city {
        margin-bottom: 9vw;
    }


    .at {
       display: none;
    }
    .degree {
        @include spaces(1);
    }
    .date-1 {
        @include spaces(2);
    }
    .date-2 {
        @include spaces(1);
    }
    .month {
        @include spaces(14);
    }

    .register-link {
        @include spaces(2);
    }
}

    #contact {
        margin-top: 9vw;
        clear: left;
    }


    #contact,
    #location {
        h3 {
            margin-bottom: 0;
        }
    }

    #location {
        p {
            margin-bottom: 0;
        }
    }

    #staff {
        clear: both;

        h4,
        li {
            margin-bottom: 0;
        }
    }

    #logos {
        overflow: hidden;

        position: relative;
        left: -2vw;

        a {
            float: left;
        }
        img {
            height: auto;
            width: 100%;
        }
        .rave {
            width: 30%;
        }
        .show {
            position: relative;
            top: 6vw;
            left: 4vw;
            width: 24%;
        }
    }

    #awards,
    #staff {
        border: 1px solid $accent;
        padding: 9vw #{$acol}vw 0;
        margin: 9vw #{$acol}vw 9vw;
    }

    #staff {
        padding-bottom: 9vw;
    }

    #share {
        margin-top: 9*2vw;

        h5 {
            margin-bottom: 3vw;
        }

        p {
            float: left;
            position: relative;
            left: -3vw;
            margin-right: 3vw;
        }

        a {
            border: 1px solid $accent;
            padding: 3vw 3vw 2vw;
            background-color: $accent;
            text-decoration: none;
            color: $bg;
        }
    }

//}


// Tablet
@media screen and (min-width: 680px) and (-webkit-min-device-pixel-ratio: 2),
       screen and (min-width: 680px) and (max-moz-device-pixel-ratio: 2) {

    .on-about #cover {
        background-image: url(../images/ptn-x2.png) !important;
        background-size: 5px auto;
    }

    #header nav a {
        background-image: url(../images/arrow-x2.png) !important;
        background-size: 16px auto;

        .on-about & {
            background-image: url(../images/cross-x2.png) !important;
        }
    }
}

@media screen and (min-width: 680px) {

    #cover {
        position: static;
        top:0;
        right:0;
        bottom:0;
        left:0;
        overflow-x: hidden;
        height: 0;
    }
    #inner {
        margin: #{$acol/2}vw;
        background-color: $bg;

        overflow: hidden;

        min-height: 152vw;
    }
    .on-about {
        #header {
            padding-top: 0;
        }

        #cover {
            position: fixed;
            overflow-y: scroll;
            background-image: url(../images/ptn.png);
            height: auto;
        }
    }

    header, section, aside {
        padding: 0 2.25vw 0;
        margin: 0;
    }

    #header {
        //padding-top: 1px;
        margin-top: 0;
        padding-top: 2.4vw;
        overflow: hidden;

        h1 {
            margin: 6vw 0 0 0;

            .on-about & {
                margin: 6vw 0;
            }
        }
    }

    #about {
        position: relative;

        section, aside {
            margin-left: 0;
        }
    }

    #header {
        h1 {
            @include spaces(2);
        }
    }

    #about-header {
        position: absolute;
        top: 0;

        h2 {
            //margin-top: 6vw;
        }

        h2, .huge {
            width: 110%;
        }

        .degree,
        .month,
        .city {
            margin-bottom: 6vw;
        }

        .at {
            @include spaces(27);
        }
        .degree {
            @include spaces(1);
            clear: none;
        }

        .date-1 {
            @include spaces(17);
        }
        .date-2 {
            @include spaces(17);
        }
        .month {
            @include spaces(20);
            margin-top:  1 * 6vw;
            margin-bottom:  2 * 6vw;
        }


        .venue {
            @include spaces(17);
        }
        .city {
            @include spaces(23);
            margin-bottom:  4 * 6vw;
        }


        .register-link {
            @include spaces(2);
        }
        .tickets {
            display: block;
            clear: left;
            //@include spaces(2);
        }


    }

    #about {
        padding-bottom: 3vw;
        margin-bottom: 3vw;
    }

        #awards,
        #location,
        #contact,
        #logos,
        #staff,
        #share{
            padding: 0;
            margin: 0;
            position: absolute;
        }

        #awards {
            border: none;

            top: 4*3vw;
            left: 8.5vw;
            width: 60vw;

            .group {
                width: 28vw;
                float: left;
                padding-right: 0;

                &:last-child {
                    h4 {
                        margin-top: 3vw;
                    }
                }
            }
        }

        #location {

            top: 21 * 3vw;
            left: 100/20*14vw;

            h3 {
                display: none;
            }
        }

        #logos {
            width: 40vw;

            top: 24 * 3vw;
            left: 96/20*12.1vw;


            .show {
                top: 2vw;
                //left: 2vw;
            }

        }

        #contact {
            top: 35 * 3vw;
            left: 96/20*1.8vw;
        }

        #staff {
            top: 31 * 3vw;
            left: 96/20*9.5vw;
            width: 96/20*9vw;
            border: none;

            .group {
                width: 50%;
                float: left;
            }
        }


    #header nav {
        top: 5vw;
        right: auto;
        left: 100/20*16vw;

        .on-about & {
            top: 2.75vw;

            a {
                background-image: url(../images/cross.png);
            }

        }

        a {
            background-image: url(../images/arrow.png);
            background-repeat: no-repeat;
            background-position: 7.5vw center;
            background-color: $bg;
        }


        p {
            //border: none;
            //background-color: $accent;
        }
    }
    #share {
        top: -3*3vw;
        right: 2.75vw;
        width: 30vw;
        height: 10vw;
        position: absolute;
        z-index: 20000;

        h5 {
            display: none;
        }

        p {
            float: none;
            margin: 0;
            position: static;
        }

        a {
            width: auto;
            display: block;
            float: right;
            margin-left: 1vw;
            background-color: transparent;
            border: 1px solid $accent !important;
            color: $accent;

            background-repeat: no-repeat;
        }

        .fb a {
            background-image: url(../images/fb.png);
            background-position: 6vw center;
        }
        .tw a {
            background-image: url(../images/tw.png);
            background-position: 7vw center;
        }



    }

    #header nav,
    #share {
        a {
            padding: 1vw 4.5vw 0.75vw 1vw;
            display: block;
        }
    }

}


// Desktop
@media screen and (min-width: 1200px) {

    #inner {
        margin: 2.5vw;
        min-height: 140vw;
        position: relatve;
    }


#share {
    right: 2.25vw;

    .fb a {
        background-position: 5.5vw center;
    }
    .tw a {
        background-position: 6.25vw center;
    }
}

    .on-about {
        #header {
            h1 {
                margin-top: 3.5vw;
            }
        }
    }

    #about-header {
        h2, .huge {
            width: 110%;
        }

        span {
        }

        .date-1,
        .date-2 {
            .extra {
                display: none;
            }
        }
        .date-1 {
            @include spaces(16);
        }
        .date-2 {
            @include spaces(15);
        }
        .month{
            @include spaces(13);
            margin-bottom: 8vw;
        }

        .venue {
            @include spaces(8);
        }
        .city {
            @include spaces(8);
            margin-bottom: 8vw;
        }

    }

    #awards {
        top: 6*2vw;
        left: 10.25vw;
        width: 60vw;

        .group {
            width: 33.333%;

            &:last-child {
                h4 {
                    margin-top: 0;
                }
            }
        }
    }

    #location {
        top: 35*2vw;
        left: 100/20*14vw;
    }

    #staff {
        top: 45*2vw;
        width: 100/20*9.8vw;
    }

    #logos {
        top: 46.25*2vw;
        left: 100/20*1.8vw;
        width: 100/20*4vw;
        overflow: visible;

        .rave {
            width: 100/20*2vw;
        }
        .show {
            width: 100/20*1.5vw;
            left: 2vw;
        }
    }

    #contact {
        top: 23*2vw;
        //left: 100/20*7.1vw;
        left: 100/20*9.8vw;

        h3 {
            display: none;
        }

        a, p {
            float: left;
        }
        .email {
            margin-left: 100/20*1.25vw;
        }
    }

    #header nav {
        top: 5.2vw;
        left: 82.5vw;

        a {
            background-position: 6.5vw center;
        }
    }

}





