/*
    About Page
 */

// Base
.on-about {
    #header {
        position: relative;
    }
    #about {
        display: block;
    }
}

#header {
    h1 {
        @include spaces(2);
        margin: 1*9vw 0;
    }
}

#about {
    display: none;
}
#about-header {
    overflow: hidden;

    .at,
    .degree,
    .date-1,
    .date-2,
    .month,
    .ampersand,
    .venue,
    .city,
    .register-link,
    .dash {
        float: left;
        display: block;
    }

    .date-1,
    .ampersand,
    .venue,
    .city,
    .register-link,
    .dash {
        clear: left;
    }

    .degree,
    .month,
    .city {
        margin-bottom: 9vw;
    }


    .at {
       display: none;
    }
    .degree {
        @include spaces(1);
    }
    .date-1 {
        @include spaces(11);
    }
    .date-2 {
        @include spaces(11);
    }
    .month {
        @include spaces(14);
    }

    .register-link {
        @include spaces(2);
    }
}

    #contact {
        margin-top: 9vw;
    }


    #contact,
    #location {
        h3 {
            margin-bottom: 0;
        }
    }

    #location {
        p {
            margin-bottom: 0;
        }
    }

    #staff {
        clear: both;

        h4,
        li {
            margin-bottom: 0;
        }
    }

    #logos {
        overflow: hidden;

        position: relative;
        left: -2vw;

        a {
            float: left;
        }
        img {
            height: auto;
            width: 100%;
        }
        .rave {
            width: 30%;
        }
        .show {
            position: relative;
            top: 6vw;
            left: 4vw;
            width: 24%;
        }
    }

    #awards,
    #staff {
        border: 1px solid $accent;
        padding: 9vw #{$acol}vw 0;
        margin: 9vw #{$acol}vw 9vw;
    }

    #staff {
        padding-bottom: 9vw;
    }

//}


// Tablet
@media screen and (min-width: 680px) and (-webkit-min-device-pixel-ratio: 2),
       screen and (min-width: 680px) and (max-moz-device-pixel-ratio: 2) {

        #cover {
            background-image: url(../images/ptn-x2.png) !important;
            background-size: 5px auto;
        }
}

@media screen and (min-width: 680px) {

    #cover {
        position: static;
        top:0;
        right:0;
        bottom:0;
        left:0;
        overflow-x: hidden;
        background-image: url(../images/ptn.png);
    }
    #inner {
        margin: #{$acol/2}vw;
        background-color: $bg;

        min-height: 154vw;
    }
    .on-about {
        #cover {
            position: fixed;
            overflow-y: scroll;
        }
    }

    header, section {
        padding: 0 #{$acol/2.5}vw 0;
        margin: 0;
    }
    #header {
        padding-top: 3vw;
        margin-top: 0;

        h1 {
            margin: 6vw 0;
        }
    }

    #about {
        position: relative;

        section {
            margin-left: 0;
        }
    }

    #header {
        h1 {
            @include spaces(2);
        }
    }

    #about-header {
        position: absolute;
        top: 0;

        h2 {
            //margin-top: 6vw;
        }

        .degree,
        .month,
        .city {
            margin-bottom: 6vw;
        }

        .at {
            @include spaces(27);
        }
        .degree {
            @include spaces(1);
            clear: none;
        }

        .date-1 {
            @include spaces(17);
        }
        .date-2 {
            @include spaces(17);
            //margin-top:  1 * 6vw;
        }
        .month {
            @include spaces(20);
            margin-top:  1 * 6vw;
            margin-bottom:  2 * 6vw;
        }


        .venue {
            @include spaces(17);
        }
        .city {
            @include spaces(23);
            margin-bottom:  4 * 6vw;
        }


        .register-link {
            @include spaces(2);
        }
        .tickets {
            display: block;
            clear: left;
            @include spaces(2);
        }


    }

    #about {
        padding-bottom: 3vw;
        margin-bottom: 3vw;
    }

        #awards,
        #location,
        #contact,
        #logos,
        #staff{
            padding: 0;
            margin: 0;
            position: absolute;
        }

        #awards {
            border: none;

            top: 4*3vw;
            left: 8vw;
            width: 60vw;

            .group {
                width: 28vw;
                float: left;
                padding-right: 0;

                &:last-child {
                    h4 {
                        margin-top: 3vw;
                    }
                }
            }
        }

        #location {

            top: 20 * 3vw;
            left: 96/20*15.5vw;

            h3 {
                display: none;
            }
        }

        #logos {
            width: 40vw;

            top: 22 * 3vw;
            left: 96/20*12.1vw;


            .show {
                top: 2vw;
                //left: 2vw;
            }

        }

        #contact {
            top: 35 * 3vw;
            left: 96/20*1.8vw;
        }

        #staff {
            top: 31 * 3vw;
            left: 96/20*9.5vw;
            width: 96/20*9vw;
            border: none;

            .group {
                width: 50%;
                float: left;
            }
        }

    #share {
        display: block;
    }


}


// Tablet
@media screen and (min-width: 1200px) {

    #awards {
        padding: 2vw #{$acol/2}vw 0;
        margin: 2vw #{$acol/2}vw 0;


        .group {
            width: 33.333%;
        }
    }

}





