/*
    Family view
 */


// MOBILE
#family-header {
    position: fixed;
    z-index: 500;
    width: 100%;

    margin-left: 2vw;
    margin-right: 2vw;

    margin-top: $mobile-line-height * 4;
    top: 0;

    // Type layout
    .award {
        @include spaces(9);
    }
    .award-type {
        @include spaces(16);
        margin-bottom: 9vw;
    }
    .school {
        //@include spaces(0);
    }
    .school .year {
        @include spaces(12);
        clear: left;
    }
}

#more-lines {
    margin-left: 2vw;
    margin-right: 2vw;

    position: absolute;
    top: $mobile-line-height * 2;

    p {
        font-size: $mobile-font-size - 1vw;
        line-height: $mobile-line-height;
        margin-bottom: 0;
    }

    .at-the-show {
        @include spaces(0);
    }

    .the-dates {
        margin-top: $mobile-line-height * 3;
        @include spaces(7);
    }

    .tickets {
        display: none;
    }
}


// Profile elements
#family {
    margin-top: 11 * 9vw;
    overflow: hidden;
    position: relative;
    z-index: 1000;

    .js & {
        opacity: 0;
    }

    .js &.on {
        opacity: 1;
    }

    figure {
        position: relative;
        z-index: 1000;

        width: $col * 18;
        height: $col * 14;
        margin-bottom: $col * 6;

        img {
            cursor: crosshair;
        }

        // Our ugly mugs
        .face {
            position: relative;
            width: $col * 8;

            top: $col * 1;
            left: $col * 1.5;

            img {
                position: absolute;
                width: 100%;

                &:first-child {
                    z-index: 200;
                }
                &:nth-child(2) {
                    z-index: 199;
                }
            }
        }

        // List of images
        .portfolio {
            overflow: hidden;

            li {
                position: absolute;
                width: $col * 18;
                height: $col * 14;
            }

            img {
                position: relative;
                max-width: $col * 18;
                max-height: $col * 14;
            }

            // Reverse image stack
            @for $i from 1 through 10 {
                li:nth-child(#{$i}) img{
                    z-index: 199 - $i;
                }
            }
        }

        // Names
        figcaption {
            position: absolute;
            z-index: 30000;

            top: $col * 14;
            left: $col * 2.3;
        }
    }
}

// TABLET
@media screen and (min-width: $tabletBreak) {

    #family-header {
        padding: 0 $col/2;
        margin-top: ($tablet-big-line-height * 3);

        .award {
            @include spaces(13);
        }

        .award-type {
            @include spaces(0);
        }
        .school {
            @include spaces(4);
        }
        .school .year {
            @include spaces(4);
        }
    }

    #more-lines {
        margin-left: $col/2;
        margin-right: $col/2;
        top: ($tablet-line-height * 4);

        p {
            font-size: $tablet-font-size;
            line-height: $tablet-line-height;
        }

        .at-the-show {
            @include spaces(18);
        }

        .the-dates {
            margin-top: $tablet-line-height * 4;
            @include spaces(41);
        }

        .tickets {
            display: block;
            margin-top: $tablet-line-height * 6;
            @include spaces(6);
        }

    }


    #family {
        margin-top: $tablet-big-line-height * 8;

        figure {
            width: $col * 6;
            height: $col * 4.5;
            margin-bottom: $col * 3;

            .face {
                top: $col * 1;
                left: $col * 1.5;

                width: $col * 2.5;

            }
            .portfolio {
                li {
                   width: $col * 6;
                   height: $col * 4.5;
                }

                img {
                    max-width: $col * 6;
                    max-height: $col * 4.5;
                }
            }

            figcaption {
                top: $col * 4.75;
                left: $col * 2.3;
            }
        }
    }

}


// DESKTOP
@media screen and (min-width: $desktopBreak) {

    #family-header {
        padding: 0 $col/2;
        margin-left: $col/2;
        margin-top: ($desktop-big-line-height * 3);


        .award {
            @include spaces(7);
        }

        .award-type {
            margin-bottom: 0;
        }

        .school {
            @include spaces(7);
        }

        .school .year {
            @include spaces(12);
        }
    }

    #more-lines {
        margin-left: $col/1.7;
        top: ($desktop-line-height * 8);

        width: 93.5vw;


        p {
            font-size: $tablet-font-size;
            line-height: $tablet-line-height;
        }

        .at-the-show {
            @include spaces(22);
        }

        .the-dates {
            margin-top: $tablet-line-height * 5;
            //@include spaces(41);
        }

        .tickets {
            display: block;
            margin-top: $tablet-line-height * 2;
            //@include spaces(6);
        }

    }


    #family {
        margin-top: $desktop-line-height * 21;

        figure {
            .face {
                width: $col * 2;
            }
        }
    }

}
