
@mixin spaces($number) {

    $content: "";

    @for $i from 1 through $number {
        .item-#{$i} {
            $content: $content+"\00a0";
        }
    }

    &:before {
        content: $content;
        display: inline;
    }
}

