/*
    Layout IDs
 */
html:after { content: "mobile"; display: none; }
@media screen and (min-width: 680px) { html:after { content: "tablet"; display: none; } }
@media screen and (min-width: 1200px) { html:after { content: "desktop"; display: none; } }


/*
    Typography scale
*/

// MOBILE
h1, h2, .huge,
p, li, h3, h4, h5 {
    letter-spacing: 0.05em;
}

p, address, li, h3, h4, h5 {
    font-size: $mobile-font-size;
    line-height: $mobile-line-height;
    margin-bottom: $mobile-line-height;
}

h1, h2, .huge  {
    font-size: $mobile-big-font-size;
    line-height: $mobile-big-line-height;
    margin: 0;
}


// TABLET
@media screen and (min-width: $tabletBreak) {

    p, address, li, h3, h4, h5 {
        font-size: $tablet-font-size;
        line-height: $tablet-line-height;
        margin-bottom: $tablet-line-height;
    }

    h1, h2, .huge  {
        font-size: 6vw;
        line-height: 6vw;
    }

}


// DESKTOP
@media screen and (min-width: $desktopBreak) {

    p,  address, li, h3, h4, h5 {
        font-size: $desktop-font-size;
        line-height: $desktop-line-height;
        margin-bottom: $desktop-line-height;
    }

    h1, h2, .huge  {
        font-size: $desktop-big-font-size;
        line-height: $desktop-big-line-height;
    }

}












