@import "_normalize.scss";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";

$default-transition-duration: 0.3s;

$bg: #F5F5F5;


body {
    background-color: $bg;
}

#color-tests {
    li {
        float: left;

        margin: 10px;

        @include transition;

        img {
            display: block;
        }

        &:nth-child(1) {
            img {

                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                filter: gray; /* IE6-9 */
                -webkit-filter: grayscale(100%) brightness(150%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */


                // filter: brightness(250%);
                // filter: grayscale(1);

                //filter: grayscale(1) brightness(250%);
                //filter: sepia(1) blur(10px);


                &:hover {

                }
            }
        }

        &:nth-child(2) {
            img {
                -webkit-filter: grayscale(100%) brightness(150%);
                //filter: grayscale(100%);
            }

            position: relative;

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,255, 0.25);
                z-index: 100;
            }
        }

        &:nth-child(3) {
            img {
                -webkit-filter: grayscale(100%) brightness(150%);
            }

            position: relative;

            .cover {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,255, 0.25);
                z-index: 100;

                &:hover {
                   background-color: rgba(0,0,255, 0.35);
                }
            }
        }

        &:nth-child(4) {
             img {
                -webkit-filter: grayscale(100%) brightness(150%);
            }

            position: relative;

            &:hover {
              &:before {
                   background: transparent;
                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(../images/demos/blue-hash-ptn.png);
                z-index: 100;
            }
        }

        &:nth-child(5) {
             img {
                -webkit-filter: grayscale(100%) brightness(150%);
            }

            position: relative;

            &:hover {
              &:before {
                   opacity: 0.5;
                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(../images/demos/blue-hash-ptn-2.png);
                z-index: 100;
            }
        }

        &:nth-child(6) {
             img {
                -webkit-filter: grayscale(100%) brightness(150%);
            }

            position: relative;

            &:hover {
              &:before {
                    opacity: 0.5;
                    background-color: rgba(0,0,255, 1);
                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(../images/demos/blue-hash-ptn-2.png);
                background-color: rgba(0,0,255, 0.25);
                z-index: 100;
            }
        }

        &:nth-child(7) {
             img {
                -webkit-filter: grayscale(100%) brightness(150%);
            }

            position: relative;

            &:hover {
              &:before {
                    opacity: 0.5;
                    background-color: rgba(0,0,255, 1);
                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(../images/demos/blue-hash-ptn-3.png);
                z-index: 100;
            }
        }

        &:nth-child(8) {
             img {
                -webkit-filter: grayscale(100%) brightness(150%);
            }

            position: relative;

            &:hover {
              &:before {
                    opacity: 0.5;
                    background-color: rgba(0,0,255, 1);
                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(../images/demos/blue-hash-ptn-4.png);
                z-index: 100;
            }
        }

        &:nth-child(9) {
            img {
                -webkit-filter: grayscale(100%) brightness(150%);
            }

            position: relative;

            &:hover {

                img {
                    -webkit-filter: grayscale(100%) brightness(180%);
                }


              &:before {


                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(../images/demos/blue-hash-ptn-4.png);
                z-index: 100;
            }
        }

        &:nth-child(10) {
            img {
                -webkit-filter: grayscale(100%) brightness(150%);
            }

            position: relative;

            &:hover {

                img {
                    -webkit-filter: grayscale(100%) brightness(180%);
                }


              &:before {


                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(../images/demos/blue-hash-ptn-4.png);
                z-index: 100;
            }
        }

    }
}


#color-tests-2 {

    li {
        float: left;

        margin: 10px;

        @include transition;

        img {
            display: block;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            img {
                //filter: grayscale(1) brightness(150%);
            }

            position: relative;

            &:hover {

                img {
                    //filter: grayscale(1) brightness(180%);
                }


              &:before {

                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(../images/demos/blue-hash-ptn-4.png);
                z-index: 100;
            }
        }

        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10) {
            img {
                //filter: grayscale(1) brightness(150%);
            }

            position: relative;

            &:hover {

                img {
                    //filter: grayscale(1) brightness(180%);
                }


              &:before {
                    opacity : 0.5;
                    background-color: rgba(255,255,255,0.5);
                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(../images/demos/blue-hash-ptn-4.png);
                z-index: 100;
            }
        }

    }

}


#swap {

    li {
        float: left;
        position: relative;
        margin: 10px;
        position: relative;
        width: 250px;
        height: 333px;

        @include transition;

        img {
            display: block;
            position: absolute;

            &.one {
                z-index: 100;
            }
            &.two {
                z-index: 50;
            }
        }


        &:hover {

            img {
                &.one {
                    z-index: 50;
                }
                &.two {
                    z-index: 100;
                }
            }

            &:active {
              &:before {
                    opacity : 0.5;
                    background-color: rgba(255,255,255,0.5);
                }
            }
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(../images/demos/blue-hash-ptn-4.png);
            z-index: 200;
        }

    }

}

/*

font-family:'Joanna W01 Regular';
font-family:'Futura W01 Medium';
font-family:'DINNeuzeitGroteskLTW01- 812426';
font-family:'Perpetua MT W01';
font-family:'Neo Sans W01';
font-family:'Arial W01 Rounded';
font-family:'Gill Sans W01 Book';
font-family:'Zurich W01 Roman';
font-family:'Chaparral W01 Bd';
font-family:'Univers LT W01 55 Roman';
font-family:'HelveticaNeueW01-Thin';
font-family:'ITCCaslon224W01-Medium';

 */

.font1 {
    font-family:'Joanna W01 Regular';
}
.font2 {
    font-family:'ITCCaslon224W01-Medium';
}
.font3 {
    font-family:'DINNeuzeitGroteskLTW01- 812426';
}
.font4 {
    font-family:'Futura W01 Medium';
}
.font5 {
    font-family:'Perpetua MT W01';
}
.font6 {
    font-family:'Neo Sans W01';
}
.font7 {
    font-family:'Arial W01 Rounded';
}
.font8 {
    font-family:'Gill Sans W01 Book';
}
.font9 {
    font-family:'Zurich W01 Roman';
}
.font10 {
    font-family:'Chaparral W01 Bd';
}
.font11 {
    font-family:'Univers LT W01 55 Roman';
}
.font12 {
    font-family:'HelveticaNeueW01-Thin';
}



#text {

    li {
        margin: 0 0 10rem;
        text-align: center;
    }

    p {
        font-size: 5rem;
        line-height: 6rem;
    }

    .one {
        font-family:'Gill Sans W01 Book';

        .char1 {
        }
    }


}
