/*
    26 Characters Styles
    Author: James Greenaway @jvgreenaway
 */

// Imports
@import "compass/css3/box-sizing";
@import "_normalize.scss";
@import "_mixins.scss";
@import "_animate.sass";
@import "_helpers.scss";

/*
    Vars n ting
 */

// Basic grid idea
$cols: 20;
$col: 100vw / $cols;
$letter: $col / 5;

// Breakpoints
$tabletBreak: 680px;
$desktopBreak: 1200px;

// Type Scale
$mobile-font-size: 6vw;
$mobile-line-height: 9vw;
$mobile-big-font-size: 8vw;
$mobile-big-line-height: 9vw;

$tablet-font-size: 2vw;
$tablet-line-height: 3vw;
$tablet-big-font-size: $tablet-line-height * 2;
$tablet-big-line-height: $tablet-line-height * 2;

$desktop-font-size: 1.4vw;
$desktop-line-height: 2vw;
$desktop-big-font-size: 7.8vw;
$desktop-big-line-height: $desktop-line-height * 4;


/*
    The basics
 */

@import '_typeScale.scss';

@mixin karben-normal {
    font-family: Karben105Mono,"Lucida Console", Monaco, monospace;
    font-weight: normal;
    font-style: normal;
}

@mixin karben-italic {
    font-family: Karben105Mono, "Lucida Console", Monaco, monospace;
    font-weight: normal;
    font-style: italic;
}

/*
    Type reset
 */
body {
    min-height: 100%;
    @include karben-normal;
}

h1, h2, h3, h4, h5, h6, p, strong, em {
    font-weight: normal;
    margin-top: 0;
}

abbr[title] {
    border: none;
}

address {
    font-style: normal;
}

/*
    Misc Reset
 */
* {
    @include box-sizing( border-box );
}

ol, ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

li address {
    margin: 0;
}

img {
    height: auto;
    display: block;
}

/*
    Colors + hovers + forms
 */
$body: #0000ff;
$bg: #fff;
$accent: #0000ff;

body {
    background-color: $bg;
    color: $body;
}

a {
    color: $accent;
    text-decoration: underline;
    border: none !important;
}

a:hover, a.static {
    font-style: italic;
}

::-moz-selection {
    background: $accent;
    color: $bg;
}
::selection {
    background: $accent;
    color: $bg;
}

input {
    @include border-radius(0);
}

input[type=email] {
    border: 1px solid $accent;
    color: $accent;
    padding-left: 0.5vw;
}

input[type=submit] {
    background-color: $accent;
    color: $bg;
    border: 1px solid $accent;
    padding: 2vw 2vw 1.75vw 2vw;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: $accent;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $accent;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $accent;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $accent;
}


/*
    Page toggle
 */
.on-about .family-page {
    display: none !important; // toggle
}


/*
    The page parts
 */

// Header
@import "_header.scss";

// Family
@import '_family.scss';
@import "_layoutrr.scss";

// About
@import '_about.scss';


/* Bye bye */
