@import "_normalize.scss";

@import "_mixins.scss";
@import "_animate.sass";

@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/columns";

$default-transition-duration: 0.3s;

$fontsize-base: 16;
$remuxFallback: true;

@mixin karben-normal {
    font-family: Karben105Mono,"Lucida Console", Monaco, monospace;
    font-weight: normal;
    font-style: normal;
}

@mixin karben-italic {
    font-family: Karben105Mono, "Lucida Console", Monaco, monospace;
    font-weight: normal;
    font-style: italic;
}


/*
    Type reset
 */

body {
    min-height: 100%;
    @include karben-normal;
}

h1, h2, h3, h4, h5, h6, strong, em {
    font-weight: normal;
}

abbr[title] {
    border: none;
}

/*
    Typography scale
*/

html {
  //  font-size: 62.6%;
    font-size: 1vw;
}

.huge {
    font-size: 11.2rem
}

h1, h2 {
    //font-size: 11.2rem;
    //line-height: 11.2rem;

    @include rFontSize( 112 );
    @include rLineHeight( 112 );

    letter-spacing: 0.6rem;
    margin: 0;
}

p, a, li {
    @include rFontSize( 20 );
    @include rLineHeight( 28 );
}

a:hover, a.static {
    font-style: italic;
    border: none;
}


/*
    Colors
 */
$body: #0000ff;
$bg: #fff;
$accent: #0000ff;

body {
    background-color: $bg;
    color: $body;
}

a {
    color: $accent;
    text-decoration: none;
    border-bottom: 1px solid $accent;
}

::-moz-selection {
    background: $accent;
    color: $bg;
}
::selection {
    background: $accent;
    color: $bg;
}


/*
    Base
*/

.hidden {
    display: none;
}

ul, ol {
    list-style: none;
    padding: 0;
}

section {

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*
    Effects
 */
.js body {
    opacity: 0;
}
.js body.fadeIn {
    @include animate(fadeIn, 0.75s, 0s);
}


/*
    Page header
 */
#header {
    position: fixed;
    @include rTop( 28 * 1 );
    @include rMarginLeft( 84 );

    nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    h1 {
        position: relative;
        z-index: 1000;

        @include spaces(3);
    }

    h2 {
        z-index: -1000;
    }

    .award {
        @include rMarginTop(112);
        @include spaces(6);
    }

    .award-type {
        @include spaces(0);
    }

    .school {
        @include spaces(0);
    }

    .school .year {
        @include spaces(4);
    }
}


/*
    Family
 */
#family {
    position: relative;
    @include rMarginTop(28 * 26);

    @include rMarginLeft( ( 84 / 2 ) - 5 );
    @include rMarginRight( ( 84 / 2 ) - 5 );

    & > li {
        overflow: hidden;

        width: 33.3333332%;
        float: left;
    }
}

figure {
    position: relative;
    @include rMinHeight( 420 );

    img {

    }

    .face {
        position: relative;
        margin-left: 100/16%;

        img {
            position: absolute;
            @include rMaxHeight( 242 );

            &:first-child {
                z-index: 100;
            }

        }

    }
    .portfolio {
        li {
            position: absolute;
        }

        img {
            @include rMaxWidth( 512 );
            @include rMaxHeight( 320 );
        }

    }

    figcaption {
        position: absolute;
        z-index: 110;

        @include rTop( 244 );
        left: 4vw;
    }
}




/*
    About Page
 */
#about {
    display: none;
}


// Logos
#logos {
    clear: both;
    padding-bottom: 2rem;
    overflow: hidden;

    a {
        border: none;
    }

    img {
        width: 44%;
        float: left;
    }
}
    .rave {
        margin-right: 6%;
        margin-top: 3%;
    }
    .show {
        padding-right: 3rem;
    }







/*
    Breakpoints
*/

// Tablet size and below
@media only screen and (max-width: 1040px) {

    .js body.fadeIn {
        @include animate(fadeOut, 0.75s, 0s);
    }

}

